<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/static/logoclockinnerbg.png">
</head>
<body>
    
</body>
<style>
    body {
        background: radial-gradient(circle at left top, #f84369 , #db9533);
        font-family: Arial, sans-serif;
    }
</style>
</html>